body{
    background: radial-gradient(rgba(255,215,0,0.1),rgba(255,215,0,0.5));
}

.view, .dodecahedron, .side{
    width: 840px;
    height: 666px;
}

.view{
    -moz-perspective: 900px;
    -webkit-perspective: 900px;
    perspective: 900px;

    -moz-perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

svg{
    width: 500px;
    height: 500px;
    margin: 170px 133px;
}

.dodecahedron, .side{
    -moz-transform-origin: 50% 50% -420px;
    -webkit-transform-origin: 50% 50% -420px;
    transform-origin: 50% 50% -420px;
}

.dodecahedron{
    position: relative;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.side{
    position: absolute;

    background: rgba(0,0,0,0);
    color: #f00;
    line-height: 500px;
    text-align: center;
    font-size: 5em;
}

.side polygon{
    fill: green;
    fill-opacity: 0.4;
    stroke: red;
    stroke-width: 5px;
}

.side1{
    -moz-transform: translateY(-78px) scale(1.245);
    -webkit-transform: translateY(-78px) scale(1.245);
    transform: translateY(-78px) scale(1.245);
}

.side2{
    -moz-transform: rotateZ(36deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(36deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(36deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
}

.side3{
    -moz-transform: rotateZ(108deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(108deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(108deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
}

.side4{
    -moz-transform: rotateZ(180deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(180deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(180deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
}

.side5{
    -moz-transform: rotateZ(252deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(252deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(252deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
}

.side6{
    -moz-transform: rotateZ(324deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(324deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(324deg) rotateX(296.56deg) translateY(-78px) scale(1.245);
}

.side7{
    -moz-transform: rotateX(180deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateX(180deg) translateY(-78px) scale(1.245);
    transform: rotateX(180deg) translateY(-78px) scale(1.245);
}

.side8{
    -moz-transform: rotateZ(36deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(36deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(36deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
}

.side9{
    -moz-transform: rotateZ(108deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(108deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(108deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
}

.side10{
    -moz-transform: rotateZ(180deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(180deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(180deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
}

.side11{
    -moz-transform: rotateZ(252deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(252deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(252deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
}

.side12 {
    -moz-transform: rotateZ(324deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    -webkit-transform: rotateZ(324deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
    transform: rotateZ(324deg) rotateX(116.56deg) translateY(-78px) scale(1.245);
}